// =============首页=============
// 个性推荐
#home_header {
	display: none;
	position: relative;
	height: .8rem;
	text-align: center;
	background-color: #e9203d;

	img {
		display: inline-block;
	}
	.go-player {
		position: absolute;
		right: .2rem;
		top: .1rem;
		width: .6rem;
		height: .6rem;
		// background: url(../images/go_player.png) no-repeat;
		background-size: cover;
	}
}
#home_nav {
	position: sticky;
	top: 0;
	z-index: 9;
	overflow: hidden;
	background-color: #fff;

	li {
		float: left;
		width: 20%;
		height: .8rem;
		margin: 0 2.5%;
		line-height: .8rem;
		text-align: center;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		
		&.active {
			border-bottom-color: #e9203d;
		}
	}
	a {
		display: block;
	}
}
#home {
	#loading {
		position: absolute;
	}
	.banner {
		height: 2.92rem;

		img {
			width: 100%;
		}
		.swiper-pagination-bullet-active {
			background-color: #e9203d;
		}
	}
	.home-list {
		.title {
			margin: .28rem 0;
			
			span {
				display: inline-block;
				position: relative;
				padding-left: .2rem;

				&:before {
					content: " ";
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -.16rem;
					width: .04rem;
					height: .32rem;
					background-color: #d33a31;
				}
			}
			i {
				display: inline-block;
				font-size: .48rem;
				vertical-align: -.09rem;
			}
		}
		/* .list {
			overflow: hidden;
			
			li {
				position: relative;
				float: left;
				width: 33.3%;
				margin-bottom: .2rem;
				box-sizing: border-box;

				&:nth-child(2n + 1),
				&:nth-child(2n){ 
					padding-left: 0;
    				padding-right: 2px;
				}
				&:nth-child(3n - 1){ 
					padding: 0 1px;
				}
				&:nth-child(3n){ 
					padding-left: 2px;
    				padding-right: 0;
				}
			}
			.pic {
				position: relative;
				img {
					width: 100%;
					height: 2.34rem;
				}
				.count {
					position: absolute;
					right: .04rem;
					top: .04rem;
					width: 100%;
					height: .04rem;
					text-align: right;
					color: #fff;
					font-size: .24rem;
					
					i {
						margin-right: .04rem;
					}
					em {}
				}
			}
			.desc {
				overflow: hidden;
				padding-top: .1rem;
				line-height: .32rem;
				font-size: .26rem;
				height: .74rem;
			}
			.mask {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		} */
	}
}
// 榜单
#rank {
	.list {
		li {
			
		}
		a {
			display: flex;
			align-items: center;
			padding: 10px 0;
			margin: 0 10px;
			height: 2.4rem;
			border-bottom: 1px solid #eee;
		}
		img {
			display: block;
			width: 2rem;
			height: 2rem;
		}
		p {
			flex: 1;
			padding-left: .2rem;
		}
		i {
			font-size: .6rem;
			color: #999;
		}
	}
}
// 歌手
#singer {
	.category {
		padding: .2rem;
		
		li {
			margin-top: -1px;
			border: 1px solid #d9d9d9;
		}
		a {
			display: flex;
			padding: .3rem;
			line-height: .4rem;
			justify-content: space-between;
		}
		span {}
		i {
			font-size: .5rem;
			color: #b0b0b0;
		}
		.mb {
			margin-bottom: .4rem;
		}
	}
}