blockquote, body, dd, dl, figure, form, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ol, ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0; }

a[href]:active, button:active {
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)); }

body.iphone a[href]:active, body.iphone button:active {
  background-image: none; }

html {
  font-size: 13.3333333333vw; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "PingFang-SC-Regular",Helvetica,"sans-serif";
  font-size: .32rem;
  line-height: 1.2;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  background-color: #fcfcfd;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  color: #101d37;
  max-width: 15rem;
  min-width: 6.4rem;
  margin: 0 auto; }

em, i {
  font-style: normal; }

h1, h2, h3, h4, h5, h6, input, select, textarea {
  font-size: 100%; }

input, select, textarea {
  font-family: inherit;
  box-sizing: border-box; }

button, input {
  display: block;
  border: none;
  background-color: #fff;
  outline: none;
  font-size: .32rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: transparent; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  border: 0;
  background-color: #f6f7f9; }

img[src=""], img:not([src]) {
  opacity: 0; }

p {
  word-break: break-all; }

.iconfont {
  font-size: .32rem;
  line-height: 1;
  vertical-align: middle; }

#header_title {
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  background-color: #f13746; }
  #header_title a {
    display: block;
    width: .8rem;
    height: 100%;
    text-align: center; }
  #header_title i {
    font-size: .5rem; }
  #header_title .icon-home {
    color: #fff; }
  #header_title p {
    flex: 1;
    text-align: center; }

#loading {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  margin: .4rem 0;
  text-align: center;
  color: #999; }
  #loading.full {
    height: 100vh;
    display: flex;
    margin-top: 2rem;
    justify-content: center; }
  #loading i {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin-right: 0.04rem;
    background: url("/static/images/loading.gif") no-repeat;
    background-size: cover;
    background-position: left center;
    vertical-align: top; }

.scroll-tip {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  margin: .4rem 0;
  text-align: center;
  color: #999; }

.song-list {
  margin: 0 .2rem; }
  .song-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0;
    border-bottom: 0.02rem solid rgba(0, 0, 0, 0.05); }
  .song-list .intro {
    width: 69%;
    line-height: 1.5;
    font-size: .36rem; }
  .song-list h6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
  .song-list p {
    padding-top: .1rem;
    color: #888;
    font-size: .28rem; }
  .song-list .pic {
    width: 30%;
    min-height: 2rem; }
    .song-list .pic img {
      width: 100%; }
  .song-list .link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

.m-music__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .m-music__list li {
    position: relative;
    width: 49.6%;
    box-sizing: border-box; }
  .m-music__list .pic {
    position: relative;
    height: 0;
    padding-bottom: 100%; }
    .m-music__list .pic img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      vertical-align: middle; }
  .m-music__list .desc {
    line-height: 0.4rem;
    height: 0.8rem;
    margin: 0.1rem 0.04rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
  .m-music__list .link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }

#back_top {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  background-color: rgba(241, 55, 70, 0.8);
  visibility: hidden; }
  #back_top.show {
    visibility: visible; }
  #back_top i {
    font-size: 0.52rem; }

#home_header {
  display: none;
  position: relative;
  height: .8rem;
  text-align: center;
  background-color: #e9203d; }
  #home_header img {
    display: inline-block; }
  #home_header .go-player {
    position: absolute;
    right: .2rem;
    top: .1rem;
    width: .6rem;
    height: .6rem;
    background-size: cover; }

#home_nav {
  position: sticky;
  top: 0;
  z-index: 9;
  overflow: hidden;
  background-color: #fff; }
  #home_nav li {
    float: left;
    width: 20%;
    height: .8rem;
    margin: 0 2.5%;
    line-height: .8rem;
    text-align: center;
    border-bottom: 0.04rem solid transparent;
    box-sizing: border-box; }
    #home_nav li.active {
      border-bottom-color: #e9203d; }
  #home_nav a {
    display: block; }

#home #loading {
  position: absolute; }

#home .banner {
  height: 2.92rem; }
  #home .banner .swiper-slide {
    position: relative; }
  #home .banner img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #home .banner .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    width: .2rem;
    height: .04rem;
    border-radius: .2rem; }
  #home .banner .swiper-pagination-bullet-active {
    background-color: #ffffff; }

#home .home-list .title a {
  display: inline-block;
  padding: .28rem 0; }

#home .home-list .title span {
  display: inline-block;
  position: relative;
  padding-left: .2rem; }
  #home .home-list .title span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.16rem;
    width: .04rem;
    height: .32rem;
    background-color: #d33a31; }

#home .home-list .title i {
  display: inline-block;
  font-size: .48rem;
  vertical-align: -.09rem; }

#home .home-list .list {
  overflow: hidden; }
  #home .home-list .list li {
    position: relative;
    float: left;
    width: 33.3%;
    margin-bottom: .2rem;
    box-sizing: border-box; }
    #home .home-list .list li:nth-child(2n + 1), #home .home-list .list li:nth-child(2n) {
      padding-left: 0;
      padding-right: 0.04rem; }
    #home .home-list .list li:nth-child(3n - 1) {
      padding: 0 0.02rem; }
    #home .home-list .list li:nth-child(3n) {
      padding-left: 0.04rem;
      padding-right: 0; }
  #home .home-list .list .pic {
    position: relative;
    height: 0;
    padding-bottom: 100%; }
    #home .home-list .list .pic img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%; }
    #home .home-list .list .pic .count {
      position: absolute;
      right: .04rem;
      top: .04rem;
      width: 100%;
      height: .04rem;
      text-align: right;
      color: #fff;
      font-size: .24rem; }
      #home .home-list .list .pic .count i {
        margin-right: .04rem; }
  #home .home-list .list .desc {
    padding-top: .1rem;
    line-height: .32rem;
    font-size: .26rem;
    height: .64rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
  #home .home-list .list .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

#rank .list a {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  margin: 0 0.2rem;
  border-bottom: 0.02rem solid #eee; }

#rank .list img {
  display: block;
  width: 2rem;
  height: 2rem; }

#rank .list p {
  flex: 1;
  padding-left: .2rem; }

#rank .list i {
  font-size: .6rem;
  color: #999; }

#singer .category {
  padding: .2rem; }
  #singer .category li {
    margin-top: -0.02rem;
    border: 0.02rem solid #d9d9d9; }
  #singer .category a {
    display: flex;
    padding: .3rem;
    line-height: .4rem;
    justify-content: space-between; }
  #singer .category i {
    font-size: .5rem;
    color: #b0b0b0; }
  #singer .category .mb {
    margin-bottom: .4rem; }

#playlist_detail #header_title,
#album_detail #header_title {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  color: #fff;
  background-color: transparent; }

#playlist_detail .header,
#album_detail .header {
  position: relative;
  padding-top: .8rem;
  overflow: hidden; }
  #playlist_detail .header .bg,
  #album_detail .header .bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(0.2rem);
    filter: blur(0.2rem);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
    #playlist_detail .header .bg::after,
    #album_detail .header .bg::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.25); }
  #playlist_detail .header .cont,
  #album_detail .header .cont {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: .2rem;
    box-sizing: border-box; }
    #playlist_detail .header .cont .pic,
    #album_detail .header .cont .pic {
      position: relative;
      display: block;
      width: 2.76rem;
      height: 2.76rem; }
      #playlist_detail .header .cont .pic::after,
      #album_detail .header .cont .pic::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: .3rem;
        z-index: 2;
        background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)); }
      #playlist_detail .header .cont .pic img,
      #album_detail .header .cont .pic img {
        width: 100%;
        height: 100%; }
      #playlist_detail .header .cont .pic .count,
      #album_detail .header .cont .pic .count {
        position: absolute;
        z-index: 3;
        right: .04rem;
        top: 0;
        width: 100%;
        height: .04rem;
        text-align: right;
        color: #fff;
        font-size: .24rem; }
        #playlist_detail .header .cont .pic .count i,
        #album_detail .header .cont .pic .count i {
          margin-right: .04rem; }
      #playlist_detail .header .cont .pic .icon-cat,
      #album_detail .header .cont .pic .icon-cat {
        position: absolute;
        left: 0;
        top: .2rem;
        z-index: 3;
        height: .36rem;
        line-height: .36rem;
        padding: 0 .16rem;
        color: #fff;
        background-color: rgba(217, 48, 48, 0.8);
        font-size: .24rem;
        border-top-right-radius: .36rem;
        border-bottom-right-radius: .36rem; }
    #playlist_detail .header .cont .info,
    #album_detail .header .cont .info {
      width: 60%;
      padding-left: .2rem; }
      #playlist_detail .header .cont .info .t,
      #album_detail .header .cont .info .t {
        font-size: .36rem;
        min-height: .75rem; }
      #playlist_detail .header .cont .info p,
      #album_detail .header .cont .info p {
        line-height: .4rem;
        padding-bottom: .2rem;
        color: #fff;
        font-size: .28rem; }
      #playlist_detail .header .cont .info .u-img,
      #album_detail .header .cont .info .u-img {
        color: rgba(255, 255, 255, 0.7); }
        #playlist_detail .header .cont .info .u-img img,
        #album_detail .header .cont .info .u-img img {
          display: inline-block;
          width: .6rem;
          height: .6rem;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: .1rem; }
  #playlist_detail .header .play,
  #album_detail .header .play {
    display: flex;
    height: 1rem;
    padding: .26rem;
    line-height: .48rem;
    justify-content: space-between;
    border-bottom: 0.02rem solid #e9203d;
    color: #fff;
    box-sizing: border-box; }
    #playlist_detail .header .play i,
    #album_detail .header .play i {
      font-size: .48rem;
      color: #fff; }

#playlist_detail .song-list,
#album_detail .song-list {
  margin: 0;
  padding: 0 .2rem; }

#singer_list .list {
  margin: 0 .2rem; }
  #singer_list .list li {
    padding: .2rem 0;
    border-bottom: 0.02rem solid #d9d9d9;
    font-size: .28rem; }
  #singer_list .list a {
    display: flex;
    align-items: center;
    line-height: .36rem; }
  #singer_list .list img {
    width: 1.3rem;
    height: 1.3rem; }
  #singer_list .list span {
    padding-left: .2rem;
    flex: 1; }
  #singer_list .list i {
    font-size: .4rem;
    color: #b0b0b0; }

#singer_detail .play {
  display: flex;
  padding: .2rem .26rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.02rem solid #e9203d;
  color: #e9203d; }
  #singer_detail .play i {
    font-size: .48rem;
    color: #e9203d; }

#singer_detail .header img {
  width: 100%; }


/*# sourceMappingURL=styles.chunk.css.map*/